.main{
    width: 32rem;
    padding-left: 70px;
}

.container{
    display: flex;
    width: 100%;
    border-radius: 8px;
    background-color: white;
}

.input{
    width: 100%;
    border: none;
    border-radius: 8px;
    color: black;
    outline: none;
}


.btn{
    border: none;
    border-radius: 7px;
    background-color: #5088cc;
}

.btn:hover{
    background-color: #3874be;
}