*{
    ::-webkit-scrollbar {
        display: none;
    }
}

.container{
    background-color: #fcffff;
    min-width: 100vw;
    max-width: 101vw;
    height: auto;
    margin: 0 0;
    padding: 0;
}