
  
  .container {
    max-width: 100%;
    height: 103%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .divMenu{
    position: relative;
  }
  .divMenu:hover{
    background-color: rgb(106, 106, 243);
  } 
  .dashboradMenu{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /* background-color: blue; */
    width: 100%;
  }
  .menu{
    position: relative;
    background-color: rgb(126, 162, 246);
    left: -1.1em;
    width: 110%;
    height: 103%;
    text-align: center;

  }
  
  .MenuAndContent{
    position: relative;
    /* background-color: chartreuse;  */
    display: flex;
    flex-direction: row;
    width: 55em;
  }
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .user_list,
  .book_list {
    list-style: none;
    padding: 0;
  }
  
  .user_list li,
  .book_list li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .user_list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .book_list li {
    display: block;
  }