body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: red;
  }
  .dashboradMenu{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: blue;
  }
  .menu{
    position: relative;
    background-color: blueviolet;
    width: 10em;
  }
  .MenuAndContent{
    position: relative;
    background-color: chartreuse;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .user_list,
  .book_list {
    list-style: none;
    padding: 0;
  }
  
  .user_list li,
  .book_list li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .user_list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .book_list li {
    display: block;
  }