.containerForm {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 32em;
  align-items: center;
}

.main {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(142, 137, 137);
  border-radius: 10px;
  height: 99%;
  width: 65%;
  top: 0.9em;
}

.inputContainer {
  position: relative;
  margin-bottom: 20px;
}

.inputContainer label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #0f0e0e;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.inputContainer input  {
  border: none;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 75%;
  padding: 8px 0 5px 0;
  font-size: 12px;
  color: #fff;
}

.inputContainer input:focus textarea:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}

.inputContainer input:focus ~ label,
.inputContainer input:valid ~ label,
.inputContainer textarea:focus ~ label,
.inputContainer textarea:valid ~ label{
	top:-15px;
	font-size:12px;
  border: none;
}

.containerSubUno {
  background-color: transparent;
  width: 40%;
  height: 76%;
}

.containerSubDos {
  width: 35%;
  height: 76%;
  left: 50%;
  padding-left: 6%;
}

.textarea{
  position: relative;
  color: rgb(239, 237, 237);
  background-color: #555;
  top : 2px;
  border: none;
  height: 10em;
  width: 100%;

}
.h1Titulo {
  position: absolute;
  font-weight: bold;
  top: 0.2em;
  left: 41%;

}

.imageForm {
  position: absolute;
  width: 5em;
  top: 80%;
  right: 45%;
}

.buttonBook {
  position: absolute;
  width: 5em;
  height: 3.3em;
  top: 83%;
  right: 45%;
  background-color: transparent;
  text-align: justify;
  border: none;
}

.spanButton {
  position: absolute;
  top: 93%;
  right: 45.5%;
}

.buttonBook:hover {
  box-shadow: 0 0 8px #a6a6f5;
  border-radius: 10%;
}

input {
  color: black;
}

input,
textarea {
  color: black;
}