.main{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 15%;
    background-color: red;
    border-radius: 8px;
    padding: 5px;
    gap: 0.01em;
    justify-content:center;
}