.containerEdit{
position: relative;
display: flex;
flex-direction: column;
background-color: blueviolet;
width: 100%;
height: 42em;
}
.containerSecond{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.buttonVolver{
    position: relative;
}
.imagePic{
    position: relative;
    width: 100px;
    height: 100px;
}
.info{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    width: 50%;
    height: 42em;
}
.formEdit{
    position: relative;
    background-color: brown;
    width: 50%;
    height: 42em;
}