.hover_options option:hover {
    background-color: #6182b4;
    color: rgb(255, 255, 255, 0.5) !important;
    cursor: pointer;
}
.containerfilter{
    position: relative;
    height: 122.3em;
    background-color: #7097d1;
}