.main{
    border: 1px #7097d1 solid;
    border-radius: 7px;
    width: 24.54%;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 3px;
    background-color: #b7cff4;
}


.container{
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
}

.read{
    background-color: #84b6f4;
    border-radius: 5px;
    padding: 2px;
    width: 100%;
}

.read:hover{
    color: white;
    background-color: #4d82bc;
    box-shadow: 4px 4px 3px black;
}
