.main{
    border: 1px rgb(103, 103, 103) solid;
    border-radius: 7px;
    width: 24.54%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 3px;
    background-color: rgb(123, 123, 123);
}


.container{
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
}

.read{
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
    padding: 2px;
    width: 100%;
}

.read:hover{
    color: black;
    background-color: #e37714;
    box-shadow: 4px 4px 3px black;
}
