.main{
    border: 2px orange solid;
    border-radius: 15px;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
}

.title{
    width: 100% !important;
    font-size: 15px;
}
