*{
    color: white;
    font-family: 'Oswald';
}

*::-webkit-scrollbar {
    display: none;  /* Ocultar scroll */
}

.head{
    background-color: #141514;
    color: white;
    width: 100% !important;
    padding: 0;
    text-align: center;
}

.btns{
    background-color: #141514;
    padding: 5px;
}

.btn{
    color: white;
    text-decoration: none;
}

.btn:hover{
    color: black;
    text-decoration: none;
}

.containerbtn{
    background-color: #e37714;
    border: none;
    margin-right: 3px;
    margin-left: 3px;
}

.containerbtn:hover{
    background-color: #fa9b41;
    /* box-shadow: 3px 3px 3px #e28936; */
}