/* .contRegis {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/wallpaper.png");
    background-size: cover;
    background-position: center;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(201, 61, 61, 0.8);
    z-index: -1;
} */

.formContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 15px;
    gap: 20px;
    width: 35em;
    background-color: #63c090;
    padding: 20px;
    border-radius: 20px ;
    position: relative;
    text-align: center;
}

.containerNames {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 20px auto 0 auto;
  }

.containerNumberInfo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid rgb(62, 44, 221);
    padding-top: 2%;
   
}
.p{
    position: relative;
    color: #063b85;
    left: 0.2em;
    top: 2em;
}
.title {
    font-size: 28px !important;
    color: #0d66e1 !important;
    font-weight: 600 !important;
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    text-align: center;
    padding-left: 30px !important;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #0d66e1;
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: #0d66e1;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 0.7s linear infinite;
}

.message,
.signin {
    color: #063b85;
    font-size: 18px;
    font-weight: bold;
}



.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .inputNames {
    width: 13em;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .inputNames+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 15px;
    font-size: 0.9em;
}

.form label .inputNames:placeholder-shown+span {
    top: 15px;
    font-size: 0.3em;
    color: grey;
    ;
}

.form label .input:focus+span,
.form label .input:valid+span {
    top: 30px;
    font-size: 0.9em;
    font-weight: 600;
}

.form label .inputNames:focus+span,
.form label .inputNames:valid+span {
    top: 30px;
    font-size: 0.9em;
    font-weight: 600;
}

.form label .input:valid+span {
    color: #063b85;
}

.form label .inputNames:valid+span {
    color: #063b85;
}

.errors {
    color: #072754;
}

.submit {
    border: none;
    outline: none;
    background-color: #0d66e1;
    padding: 10px;
    border-radius: 10px;
    color: #000000;
    font-size: 16px;
    transform: .3s ease;
}

.submit:hover {
    background-color: #0c3d83;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}